.content {
  margin-top: 60px;
}
.card {
  display: inline-block;
  margin: 10px;
  color: black !important;
}
h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}
.footer {
  width: 100%;
  background-color: #0000;
  padding: 20px;
}

/* dark mode */

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.nav-item {
  text-align: center;
}
